In [11]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_csv('rainfall.csv')
data.head()

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1

In [3]:
data.shape

(641, 19)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641 entries, 0 to 640
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STATE_UT_NAME  641 non-null    object
 1   DISTRICT       641 non-null    object
 2   JAN            641 non-null    float64
 3   FEB            641 non-null    float64
 4   MAR            641 non-null    float64
 5   APR            641 non-null    float64
 6   MAY            641 non-null    float64
 7   JUN            641 non-null    float64
 8   JUL            641 non-null    float64
 9   AUG            641 non-null    float64
 10  SEP            641 non-null    float64
 11  OCT            641 non-null    float64
 12  NOV            641 non-null    float64
 13  DEC            641 non-null    float64
 14  ANNUAL         641 non-null    float64
 15  Jan-Feb        641 non-null    float64
 16  Mar-May        641 non-null    float64
 17  Jun-Sep        641 non-null    float64
 18  Oct-Dec        641 non-null    float64
dtypes: float64(17), object(2)
memory usage: 95.3+ KB

In [5]:
data.dropna(inplace=True)

In [6]:
data.shape

(641, 19)

In [7]:
data.sort_values(by="ANNUAL", ascending=0).head(1)[['STATE_UT_NAME','DISTRICT', 'ANNUAL']]

   STATE_UT_NAME    DISTRICT  ANNUAL
55       MANIPUR  TAMENGLONG  7229.3

In [8]:
data.loc[data['ANNUAL'].idxmax()]['DISTRICT']

'TAMENGLONG'

In [9]:
data.sort_values(by="ANNUAL", ascending=0).head()

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
55,MANIPUR,TAMENGLONG,48.5,229.6,224.5,431.5,539.9,1158.7,1820.9,1522.1,726.3,376.1,144.0,7.2,7229.3,278.1,1195.9,5228.0,527.3
47,MEGHALAYA,JAINTIA HILLS,33.8,44.1,115.1,282.3,598.8,1316.1,1591.3,933.8,826.3,517.7,110.9,9.7,6379.9,77.9,996.2,4667.5,638.3
46,MEGHALAYA,EAST KHASI HI,15.4,24.1,129.7,312.5,733.7,1476.2,1518.4,1019.4,607.8,277.9,40.3,10.7,6166.1,39.5,1175.9,4621.8,328.9
12,ARUNACHAL PRADESH,UPPER SIANG,74.3,176.7,362.6,397.5,408.7,801.9,653.0,417.9,686.0,264.9,86.9,71.7,4402.1,251.0,1168.8,2558.8,423.5
598,KARNATAKA,UDUPI,1.4,0.4,4.1,29.4,193.8,1081.0,1371.6,902.2,404.9,223.8,74.6,18.8,4306.0,1.8,227.3,3759.7,317.2

In [21]:
data.drop(columns=['Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'], inplace=True)

In [22]:
data

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,KERALA,IDUKKI,13.4,22.1,43.6,150.4,232.6,651.6,788.9,527.3,308.4,343.2,172.9,48.1,3302.5
637,KERALA,KASARGOD,2.3,1.0,8.4,46.9,217.6,999.6,1108.5,636.3,263.1,234.9,84.6,18.4,3621.6
638,KERALA,PATHANAMTHITTA,19.8,45.2,73.9,184.9,294.7,556.9,539.9,352.7,266.2,359.4,213.5,51.3,2958.4
639,KERALA,WAYANAD,4.8,8.3,17.5,83.3,174.6,698.1,1110.4,592.9,230.7,213.1,93.6,25.8,3253.1
640,LAKSHADWEEP,LAKSHADWEEP,20.8,14.7,11.8,48.9,171.7,330.2,287.7,217.5,163.1,157.1,117.7,58.8,1600.0

In [18]:
pivot_table = pd.pivot_table(data, index='STATE_UT_NAME', aggfunc=np.mean)
pivot_table.head()

,ANNUAL,APR,AUG,DEC,FEB,JAN,JUL,JUN,MAR,MAY,NOV,OCT,SEP
STATE_UT_NAME,,,,,,,,,,,,,
ANDAMAN And NICOBAR ISLANDS,2911.400000,86.966667,385.300000,159.733333,33.266667,61.233333,390.566667,418.666667,30.800000,358.833333,263.200000,301.100000,421.733333
ANDHRA PRADESH,945.073913,19.873913,179.426087,15.565217,7.352174,6.321739,185.365217,114.369565,10.095652,48.765217,58.965217,138.600000,160.373913
ARUNACHAL PRADESH,2927.375000,275.162500,378.600000,35.956250,93.293750,53.687500,547.581250,491.381250,165.018750,300.262500,43.187500,176.768750,366.475000
ASSAM,2454.359259,181.266667,377.370370,11.440741,31.714815,15.733333,494.844444,465.185185,77.762963,333.870370,24.922222,136.448148,303.800000
BIHAR,1200.555263,16.865789,289.481579,5.786842,9.278947,13.134211,340.836842,168.781579,9.873684,51.673684,6.715789,64.747368,223.378947

In [24]:
data.groupby('STATE_UT_NAME').count()[['DISTRICT']]

                             DISTRICT
STATE_UT_NAME
ANDAMAN And NICOBAR ISLANDS         3
ANDHRA PRADESH                     23
ARUNACHAL PRADESH                  16
ASSAM                              27
BIHAR                              38
CHANDIGARH                          1
CHATISGARH                         18
DADAR NAGAR HAVELI                  1
DAMAN AND DUI                       2
DELHI                               9
GOA                                 2
GUJARAT                            26
HARYANA                            21
HIMACHAL                           12
JAMMU AND KASHMIR                  22
JHARKHAND                          24
KARNATAKA                          30
KERALA                             14
LAKSHADWEEP                         1
MADHYA PRADESH                     50
MAHARASHTRA                        35
MANIPUR                             9
MEGHALAYA                           7
MIZORAM                             9
NAGALAND                           11
ORISSA                             30
PONDICHERRY                         4
PUNJAB                             20
RAJASTHAN                          33
SIKKIM                              4
TAMIL NADU                         32
TRIPURA                             4
UTTAR PRADESH                      71
UTTARANCHAL                        13
WEST BENGAL                        19

In [39]:
data.groupby(['STATE_UT_NAME']).max()[['DISTRICT','MAY']]
# This is wrong

                                   DISTRICT    MAY
STATE_UT_NAME
ANDAMAN And NICOBAR ISLANDS   SOUTH ANDAMAN  374.4
ANDHRA PRADESH                WEST GODAVARI   96.6
ARUNACHAL PRADESH                WEST SIANG  453.0
ASSAM                         UDALGURI(DARA  604.0
BIHAR                        WEST CHAMPARAN  155.7
CHANDIGARH                       CHANDIGARH   30.1
CHATISGARH                          SURGUJA   38.6
DADAR NAGAR HAVELI                      DNH    7.4
DAMAN AND DUI                           DIU    7.4
DELHI                            WEST DELHI   19.3
GOA                               SOUTH GOA   94.3
GUJARAT                              VALSAD   12.5
HARYANA                         YAMUNANAGAR   27.9
HIMACHAL                                UNA   91.7
JAMMU AND KASHMIR                  UDHAMPUR  111.4
JHARKHAND                    WEST SINGHBHUM   86.1
KARNATAKA                            YADGIR  193.8
KERALA                              WAYANAD  300.4
LAKSHADWEEP                     LAKSHADWEEP  171.7
MADHYA PRADESH                      VIDISHA   19.9
MAHARASHTRA                        YAVATMAL   60.2
MANIPUR                              UKHRUL  539.9
MEGHALAYA                     WEST GARO HIL  733.7
MIZORAM                            SERCHHIP  351.4
NAGALAND                          ZUNHEBOTO  325.6
ORISSA                           SUNDARGARH  136.8
PONDICHERRY                           YANAM   43.6
PUNJAB                           TARN TARAN   25.6
RAJASTHAN                           UDAIPUR   20.7
SIKKIM                          WEST SIKKIM  355.4
TAMIL NADU                     VIRUDHUNAGAR  141.5
TRIPURA                        WEST TRIPURA  440.1
UTTAR PRADESH                      VARANASI   38.6
UTTARANCHAL                      UTTARKASHI  102.1
WEST BENGAL                   WEST MIDNAPOR  345.4

In [29]:
data.loc[data.groupby('STATE_UT_NAME')['MAY'].idxmax()][['STATE_UT_NAME','DISTRICT','MAY']]

                   STATE_UT_NAME       DISTRICT    MAY
1    ANDAMAN And NICOBAR ISLANDS  SOUTH ANDAMAN  374.4
544               ANDHRA PRADESH  VISAKHAPATNAM   96.6
10             ARUNACHAL PRADESH     PAPUM PARE  453.0
31                         ASSAM      KARIMGANJ  604.0
194                        BIHAR     KISHANGANJ  155.7
306                   CHANDIGARH     CHANDIGARH   30.1
519                   CHATISGARH         BASTAR   38.6
479           DADAR NAGAR HAVELI            DNH    7.4
480                DAMAN AND DUI          DAMAN    7.4
307                        DELHI      NEW DELHI   19.3
488                          GOA      NORTH GOA   94.3
458                      GUJARAT          DANGS   12.5
303                      HARYANA      PANCHKULA   27.9
341                     HIMACHAL  LAHUL & SPITI   91.7
349            JAMMU AND KASHMIR      BARAMULLA  111.4
154                    JHARKHAND          PAKUR   86.1
598                    KARNATAKA          UDUPI  193.8
628                       KERALA      ERNAKULAM  300.4
640                  LAKSHADWEEP    LAKSHADWEEP  171.7
451               MADHYA PRADESH  ANUPPUR(SHAHD   19.9
493                  MAHARASHTRA       KOLHAPUR   60.2
55                       MANIPUR     TAMENGLONG  539.9
46                     MEGHALAYA  EAST KHASI HI  733.7
62                       MIZORAM         AIZAWL  351.4
75                      NAGALAND          WOKHA  325.6
135                       ORISSA       GAJAPATI  136.8
592                  PONDICHERRY    PONDICHERRY   43.6
325                       PUNJAB       RUPNAGAR   25.6
390                    RAJASTHAN      JHUNJHUNU   20.7
92                        SIKKIM   NORTH SIKKIM  355.4
563                   TAMIL NADU    KANYAKUMARI  141.5
82                       TRIPURA  NORTH TRIPURA  440.1
234                UTTAR PRADESH      BALRAMPUR   38.6
279                  UTTARANCHAL     UTTARKASHI  102.1
86                   WEST BENGAL    COOCH BEHAR  345.4

In [32]:
data.groupby(['STATE_UT_NAME']).max()[['DISTRICT','MAY']]

                                   DISTRICT    MAY
STATE_UT_NAME
ANDAMAN And NICOBAR ISLANDS   SOUTH ANDAMAN  374.4
ANDHRA PRADESH                WEST GODAVARI   96.6
ARUNACHAL PRADESH                WEST SIANG  453.0
ASSAM                         UDALGURI(DARA  604.0
BIHAR                        WEST CHAMPARAN  155.7
CHANDIGARH                       CHANDIGARH   30.1
CHATISGARH                          SURGUJA   38.6
DADAR NAGAR HAVELI                      DNH    7.4
DAMAN AND DUI                           DIU    7.4
DELHI                            WEST DELHI   19.3
GOA                               SOUTH GOA   94.3
GUJARAT                              VALSAD   12.5
HARYANA                         YAMUNANAGAR   27.9
HIMACHAL                                UNA   91.7
JAMMU AND KASHMIR                  UDHAMPUR  111.4
JHARKHAND                    WEST SINGHBHUM   86.1
KARNATAKA                            YADGIR  193.8
KERALA                              WAYANAD  300.4
LAKSHADWEEP                     LAKSHADWEEP  171.7
MADHYA PRADESH                      VIDISHA   19.9
MAHARASHTRA                        YAVATMAL   60.2
MANIPUR                              UKHRUL  539.9
MEGHALAYA                     WEST GARO HIL  733.7
MIZORAM                            SERCHHIP  351.4
NAGALAND                          ZUNHEBOTO  325.6
ORISSA                           SUNDARGARH  136.8
PONDICHERRY                           YANAM   43.6
PUNJAB                           TARN TARAN   25.6
RAJASTHAN                           UDAIPUR   20.7
SIKKIM                          WEST SIKKIM  355.4
TAMIL NADU                     VIRUDHUNAGAR  141.5
TRIPURA                        WEST TRIPURA  440.1
UTTAR PRADESH                      VARANASI   38.6
UTTARANCHAL                      UTTARKASHI  102.1
WEST BENGAL                   WEST MIDNAPOR  345.4